.DS_Store
node_modules
dist
dist-ssr
*.local
.env
.env.*

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/patches
.yarn/cache
.yarn/install-state.gz
.pnp.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
